
body {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    min-height: 100dvh;
}

.title {
    font-family: "Dancing Script";
    text-align: center;

    height: 100px;
}

nav {
    display: flex;
    justify-content: center;
}

button {
    text-align: center;
}

#content {
    flex: 1;
    text-align: center;
}

footer {
    text-align: center;
}
